<p id="notice"><%= notice %></p>
<script>
setInterval(function(){
  Turbolinks.visit() 
    }, 5000)
</script>

<h1>Open Orders</h1>

  <% @orders.each do |order| %>
    <div class="col-md-6">
      <div class="card" style="width: 28rem;">
        <div class="card-header">
          Order #<%= order.id %> Table (<%= order.table %>) 
          Created <%= distance_of_time_in_words(order.updated_at, Time.now) %> ago
        </div>
            <% order.items.each do |item| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= item.product.title %></li>          
          </ul>
            <% end %>
          <%=link_to 'Order Up!', ready_order_path(order), class: "btn btn-success", method: :put  %>
      </div>
    </div>
    <br>
  <% end %>


