<p id="notice"><%= notice %></p>
<h2>Checkout</h2>


  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= form_for @order, url: checkout_path do |f| %>
    <div class="form-group"> 
      <%= f.label :table %>
      <%= f.text_field :table, class: "form-control" %>
      <%= f.submit 'Submit Order', class: "btn btn-success" %>
    <% end %>
    <h5>For take-out, leave table empty.</h5>
    </div>
  </div>
  <div class="col-md-4"></div>


