<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.title, product %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency product.price %></td>
          <td><%= product.category.title %></td>
          <td>
            <%= form_tag order_items_path do %>
              <%= hidden_field_tag :product_id, product.id %>
              <%= number_field_tag :quantity, 1, in: 1..20, class:"form-control input-lg col-6" %>
              <%= submit_tag "Add to Order", class: "btn btn-success" %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" if logged_in?(:site_admin) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Proceed to checkout", cart_path, class:"btn btn-primary"  %>
</div>

<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" if logged_in?(:site_admin) %>
